body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em;
    margin-bottom: 2em; /* Footer için boşluk bırak */
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em 0; /* Padding'i küçültün */
    font-size: 0.8em; /* Yazı boyutunu küçültün */
    margin-top: 2em; /* Sayfa içeriğinden biraz boşluk bırak */
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 1em 0 0.5em;
}

form input, form textarea, form button {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

form button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #555;
}
